:root{
  --main-bg: #FEFEFE;
  --main-title: #080808;
  --main-subtitle: rgb(8, 8, 8, 0.8);
  --main-body: rgb(8, 8, 8, 0.8);

  // Dropdown
  --dropdown-bg: #FEFEFE;
  --dropdown-break: 2px solid rgb(171, 172, 127, 0.6);
  --dropdown-font: #080808;
  --dropdown-bg-hover: rgb(8, 8, 8, 0.05);
  --dropdown-btn: #717744;
  --dropdown-btn-hover: #373D20;


  // Banner
  --banner-title: #373D20;
  --banner-subtitle: #FEFEFE;

  // Cart
  --cart-bg: rgb(171, 172, 127, 0.6);
  --quantity-btn-font: #373D20;
  --sum-bg: rgb(254, 254, 254, 0.6);
  --sum-hr: rgb(113, 119, 68, 0.6);
  --sum-submit-btn-font: rgb(8, 8, 8, 0.6);

  // News
  --label-border: rgb(171, 172, 127, 0.8);
  --label-bg-hover: rgb(171, 172, 127, 0.6);
  --input-checked-bg: #717744;
  --input-checked-font: #FEFEFE;

  --list-bg-hover: rgb(8, 8, 8, 0.05);

  // Membership
  --break-border: rgb(171, 172, 127);
  --member-input-border: rgb(171, 172, 127, 0.6);
  --member-input-border-foucs: rgb(171, 172, 127);
  --anchor-font: #717744;
  --anchor-font-hover: #373D20;

  // Header color
  --header-bg: #373D20;
  --header-font: #FEFEFE;
  --nav-list-bg: rgb(171, 172, 127, 0.8);

  // Footer
  --footer-bg: #373D20;
  --footer-font: #FEFEFE;
  --subscribe-input: rgb(8, 8, 8, 0.6);
  --subscribe-btn: #080808;

  // Button color
  --default-btn-bg: #717744;
  --default-btn-bg-hover: #373D20;
  --default-btn-font: #FEFEfE;

  --member-submit-btn: rgb(8, 8, 8, 0.6);
  --member-submit-btn-bg: rgb(171, 172, 127, 0.6);
  --member-submit-btn-bg-hover: #717744;
  --member-submit-btn-hover: #FEFEfE;

  --mode-btn-bg:rgb(171, 172, 127, 0.6);
  --mode-btn-font: rgb(8, 8, 8, 0.6);
  --mode-btn-bg-hover: rgb(113, 119, 68, 0.6);
  --mode-btn-font-hover: #FEFEFE;
  --mode-btn-bg-checked: #717744;

  --wish-btn-bg: #ABAC7F;
  --wish-btn-font: rgb(254, 254, 254, 0.6);
  --wish-btn-font-hover: #530000;
  --wish-btn-bg-hover: #717744;

  // Pagination
  --page-border: rgb(171, 172, 127, 0.6);
  --page-font: #373D20;
  --page-selected-bg: #717744;
  --page-selected-font: #FEFEfE;


  --facebook-btn-bg: #3B5998;
  --line-btn-bg: #08C656;
}